# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# sensitive files
password.txt
API_KEYS.md
local-data.json
test-mqtt.js
test-supos-data.js

# deployment files
volumes/
supos-projects/
mosquitto.conf
nodered-flow.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts